@charset "UTF-8";
*{
	FONT-WEIGHT: 100;
	margin: 0;
	padding:0;
}
a{
	text-decoration: none;
}
ul{
    list-style: none;
}
/* 화면 전체 렙 */
.wrapper{
	width: 100%;
}
/* content 랩 */
.wrap{
	width : 1080px;
	margin: auto;
}
/* 홈페이지 기능 네비 */ 
.top_gnb_area{
	width: 100%;
    height: 50px;
    background-color: #f0f0f1;
    position:relative;
}
.top_gnb_area .list{
	position: absolute;
    top: 0px;
    right: 0;
    
}
.top_gnb_area .list li{
	list-style: none;	
    float : left;
    padding: 13px 15px 0 10px;
    font-weight: 900;
    cursor: pointer;
}

/* 관리제 페이지 상단 현페이지 정보 */
.manager_top_wrap{
    height:110px;
    line-height: 110px;
    background-color: #55a5b1;
    margin-bottom:15px;
}
.manager_top_wrap>span{
    margin-left: 30px;
    display:inline-block;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
/* 관리자 wrap(네비+컨텐츠) */
.manager_wrap{
    
    
}

/* 관리자페이지 네비 영역 */
.manager_navi_wrap{
    width: 20%;
    height: 300px;
    float:left;
    height: 100%;
}
.manager_navi_wrap li{
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.manager_navi_wrap li a{
    display: block;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
}
.manager_navi_wrap li a:link {color: black;}
.manager_navi_wrap li a:visited {color: black;}
.manager_navi_wrap li a:active {color: black;}
.manager_navi_wrap li a:hover {color: black;}

.manager_list_01{
    background-color: #c8c8c8;
} 


/* 관리자페이지 컨텐츠 영역 */
.manager_content_wrap{
    width: 100%;
    float:left;
    min-height:700px;
}
.manager_content_subject{			/* 관리자 컨텐츠 제목 영역 */
    font-size: 40px;
    font-weight: bolder;
    padding-left: 15px;
    background-color: #55a5b1;
    height: 80px;
    line-height: 80px;
    color: white;
}
/* 관리자 컨텐츠 메인 영역 */
.form_section{
	width: 98%;
	margin-left: 1%;
	margin-top: 20px;
	border: 1px solid #0e0f10;
	background-color: #efefef;
}
.form_section2{
	width: 98%;
    margin-left: 1%;
    margin-top: 20px;
    border: 1px solid #dbdde2;
    background-color: #efefef;	
}


.form_sectionimg{
	width: 48%;
	margin-left: 1%;
    margin-right: 50%;
    margin-top: 20px;
    border: 1px solid #dbdde2;
    background-color: #efefef;	
}


.form_section_title{
	padding: 20px 35px;	
}
.form_section_title label{
	display: block;
    font-size: 20px;
    font-weight: 800;
}
.form_section_content{
	padding: 20px 35px;
    border-top: 1px solid #dbdde2;	
}
.form_section_content input{
	width: 98%;
    height: 25px;
    font-size: 20px;
    padding: 5px 1%;
}



.form_section_title2{
	padding: 10px 35px;	
}
.form_section_title2 label{
	display: block;
    font-size: 20px;
    font-weight: 800;
}

.form_section_content2{
	padding: 10px 35px;
    /*border-top: 1px solid #dbdde2;*/	
}
.form_section_content2 input{
	width: 98%;
    height: 25px;
    font-size: 20px;
    padding: 5px 1%;
}


.ct_left_area{
		float: left;
		width: 60%;
		height: 100%;
		}

.ct_right_area{
	    float: right;
	    width: 40%;
	    height: 100%;
  	}
  	
.ct_down_area{
	    float: down;
	    width: 40%;
	    height: 100%;
  	}



.form_section_content3{
	padding: 10px 70px;
    /*border-top: 1px solid #dbdde2;*/	
}
.form_section_content3 input{
	width: 50%;
    height: 25px;
    margin-right: 52%;
    font-size: 20px;
    padding: 5px 1%;
}

.form_section_content select{
	width: 98%;
    height: 35px;
    font-size: 20px;
    text-align-last: center;
}

.form_section_content textarea{
	width: 100%;
	height: 200px;
    font-size: 20px;
    text-align-last: left;
}



.ck-content {						/* ckeditor 높이 */
    height: 170px;
}


.ui-datepicker-trigger {			/* 캘린더 css 설정 */
    margin-left: 25px;
    width: 14%;
    height: 38px;
    font-weight: 600;
    background-color: #dfe8f5;
    font-size: 15px;
    cursor:pointer;
}
input[name='publeYear'] {
    width: 80%;
    text-align: center;
}

.authorId_btn {						/* 작가 선택 css 설정 */
    margin-left: 20px;
    width: 14%;
    height: 38px;
    font-weight: 600;
    background-color: #dfe8f5;
    font-size: 15px;
    cursor:pointer;
}
#authorName_input {
    width: 80%;
    text-align: center;
}

.form_section_content select {		/* 카테고리 css 설정 */
    width: 92%;
    height: 35px;
    font-size: 20px;
    text-align-last: center;
    margin-left: 5px;
}
.cate_wrap span {
    font-weight: 600;
}
.cate_wrap:not(:first-child) {
    margin-top: 20px;
}

.ck_warn{						/* 입력란 공란 경고 태그 */
	display: none;
    padding-top: 10px;
    text-align: center;
    color: #e05757;
    font-weight: 300;    
}

.step_val{						/* 할인 가격 문구 */
	display: block;
    padding-top: 5px;
    font-weight: 500;
}


/* 버튼 영역 */
.btn_section{
	text-align: center;
	margin: 20px;
}
.btn{
    min-width: 180px;
    padding: 4px 30px;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
}
.btn2{
    min-width: 180px;
    padding: 7px 30px;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
}
.enroll_btn{
	background-color: #dbdde2;
	margin-left:15px;
}
#enrollBtn:hover {
    background-color: #c9cbd0;
}


/* footer navai 영역 */
.footer_nav{
	width:100%;
	height:50px;
}
.footer_nav_container{
	width: 100%;
	height: 100%;
	background-color:#8EC0E4;
}
.footer_nav_container>ul{
	font-weight : bold;
	float:left;
	list-style:none;
	position:relative;
	padding-top:10px;
	line-height: 27px;
	font-family: dotum;
	margin-left: 10px;
}
.footer_nav_container>ul>li{
	display:inline;
	width: 45px;
	height: 19px;
	padding: 10px 9px 0 10px;
}
.footer_nav_container>ul>span{
	margin: 0 4px;
}
/* footer 영역 */
.footer{
	width:100%;
	height:130px;
	background-color:#D4DFE6;
	padding-bottom : 50px;
}
.footer_container{
	width: 100%;
	height: 100%;
	margin: auto;
}
.footer_left>img {
	width: 150%;
    height: 130px;
    margin-left: -20px;
    margin-top: -12px;
}
.footer_left{
	float :left;
	width: 170px;
	margin-left: 20px;
	margin-top : 30px;
	
}
.footer_right{
	float :left;
	width: 680px;
	margin-left: 70px;
	margin-top : 30px;
}




/* float 속성 해제 */
.clearfix{
	clear: both;
}
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 9px 25px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn-blue {
    background-color: #55a5b1;
    color: #d4dfe6;
    
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}
.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}
.w-btn-blue-outline {
    border: 3px solid #6aafe6;
    color: #6e6e6e;
}
.w-btn-blue-outline:hover {
    background-color: #6aafe6;
    color: #d4dfe6;
}
/* 상품 목록 영역 */
.goods_table_wrap{
	padding: 20px 35px
}
.goods_table{
	width: 100%;
    border: 1px solid #d3d8e1;
    text-align: center;
    border-collapse: collapse;
}
.goods_table td{
	padding: 10px 5px;
	border : 1px solid #e9ebf0;
}
.goods_table thead{
	background-color: #f8f9fd;	
	font-weight: 600;
}
.goods_table a{
	color:#1088ed;
	font-weight: 500;
}
.th_column_1{
	width:11%;
}
.th_column_3{
	width:14%;
}
.th_column_4{
	width:15%;
}
.th_column_5{
	width:19%;
}	
.th_column_6{
	width:30%;
}	
.table_empty{
	height: 50px;
    text-align: center;
    margin: 200px 0 215px 0px;
    font-size: 25px;
}

	/* 검색 영역 */
.search_wrap{
	margin-top:15px;
}
.search_input{
    position: relative;
    text-align:center;	
}
.search_input input[name='keyword']{
	padding: 4px 10px;
    font-size: 15px;
    height: 20px;
    line-height: 20px;
}
.search_btn{
	height: 32px;
    width: 80px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    margin-left: 15px;
    background-color: #c3daf7;
}